@import './fonts';
@import './mixins';
@import './utils';
@import './form';
@import './navbar';
@import './card';
@import './cart';
@import './button';
@import './carousel';

* {
  margin: 0;
  padding: 0;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: $white;
  background: $dark;
  line-height: 1.7;
  overflow-x: hidden;
  -ms-overflow-style: none;

  & #root {
    height: 100%;
  }

  & ul {
    list-style-type: none;
  }

  & a {
    text-decoration: none;
  }

  & img {
    height: 100%;
    max-width: 100%;
  }

  & form {
    background: $white;
  }

  & button {
    border: none;
    outline: none;
  }

  & textarea {
    font-family: inherit;
    font-size: 1.4rem;
  }

  & input[type='file'] {
    padding: 0;

    &::-webkit-file-upload-button {
      background: $warning;
      padding: 1.2rem 1.8rem;
      color: $black;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 0 3rem 3rem 0;
      -webkit-border-radius: 0 3rem 3rem 0;
      -moz-border-radius: 0 3rem 3rem 0;
      -ms-border-radius: 0 3rem 3rem 0;
      -o-border-radius: 0 3rem 3rem 0;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include respond(phone) {
    padding: 0;
  }
}

.heading-one {
  font-size: 4.8rem;
}

.btn,
a {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    font-size: inherit;
  }
}

.btn {
  outline: none;
  transition: all 0.1s cubic-bezier(0.8, -0.37, 0, 1.39);

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    transform: scale(1.02);
  }
}

.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
}

.text-success {
  color: $success;
}

.text-warning {
  color: $warning;
}

.section {
  min-height: 100vh;
  width: 100vw;


  @include respond(phone) {
    padding: auto;

    .padding_sm {

    }
  };

  &-top {
    padding-top: 7rem;
  }
}

.alert {
  width: 100%;
  padding: 1em;
  text-align: center;
  position: fixed;
  top: 6.5rem;
  right: 0;
  max-width: 100%;
  max-height: 20%;
  z-index: 300;
  transition: transform 0.3s ease-in-out;

  &-danger {
    background: $danger;
    color: $white;
  }

  &-success {
    background: $success;
    color: $white;
  }

  &-warning {
    background: $warning;
    color: $greyDarker;
  }
}

.badge {
  padding: 0.25rem 1.2rem;
  font-size: 1.4rem;
  background: $light;
  cursor: pointer;


  &-dark {
    color: $white;
    background: $dark;
  }

  &-warning {
    color: $black;
    background: $warning;
  }

  &-primary {
    color: $white;
    background: $primary;
  }
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.noPage {
  @include absCenter();

  & img {
    width: 100%;
  }

  & p {
    font-size: 2.4rem;
    text-align: center;
  }
}
