.cart {
  width: 95%;
  padding: 2rem;
  margin: 3rem auto;
  background: $dark-light;

  @include respond(phone) {
    padding: 2em;
    max-width: 98%;
  }

  & .image-container {
    height: 6rem;
    width: 6rem;
    position: relative;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid $dark;

  & thead {
    border-bottom: 1px solid $dark;
    & > tr {
      padding: 2em;
    }
  }

  & th {
    color: $warning;
  }

  & th,
  & td {
    text-align: center;
    padding: 1.6rem;

    @include respond(phone) {
      padding: 0.2rem;
    }
  }

  & th:first-child,
  & td:first-child {
    text-align: left;
  }

  & td {
    @include respond(phone) {
      padding-bottom: 3rem;
    }
  }

  & td:last-child {
    @include respond(phone) {
      span {
        margin-bottom: 1rem;
      }
      & .badge {
        margin-right: 0;
        padding: 0.4rem 1.2rem;
        text-align: right;
      }
    }
  }
}

.order-sec {
  width: 98%;
  margin: 2rem auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    margin: 2em 1em;
  }

  & h4 {
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;

    & span {
      color: $warning;
    }
  }
}
