.cart {
  width: 95%;
  padding: 2rem;
  margin: 3rem auto;
  background: $dark-light;

  @include respond(phone) {
    width: 100%;
    padding: 2rem 0;
  }

  & .image-container {
    height: 6rem;
    width: 6rem;
    position: relative;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid $dark;

  & thead {
    border-bottom: 1px solid $dark;
  }

  & th {
    color: $warning;
  }

  & th,
  & td {
    text-align: center;
    padding: 1.6rem;

    @include respond(phone) {
      padding: 0.2rem;
    }
  }

  & th:first-child,
  & td:first-child {
    text-align: left;
  }

  & td {
    @include respond(phone) {
      padding-bottom: 3rem;
    }
  }

  & td:last-child {
    @include respond(phone) {
      span {
        margin-bottom: 1rem;
      }
      & .badge {
        margin-right: 0;
        padding: 0.4rem 1.2rem;
        text-align: right;
      }
    }
  }
}
