.card {
  box-shadow: $shadow;
  height: 38rem;
  position: relative;
  background: $dark-light;
  border-radius: 1rem;
  transition: transform .3s ease-in-out;


  &:hover {
    transform: scale(1.05);
  }

  &--image {
    width: 100%;
    height: 65%;
    background: #f0f0f0;
    text-align: center;
    position: relative;
    border-radius: 1rem 1rem 0 0;

    & img {
      height: 100%;
    }
  }

  &--content {
    padding: 2rem;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    & .submit-btns {
      & .btn--outline {
        margin-right: 0.5rem;
      }
    }


    & h4 {
      color: $warning;
      font-size: 1.8rem;
      font-weight: normal;
    }

    & div {
      display: flex;

      & .btn {
        padding: 0.8rem 0.8rem;
        border-radius: 4px;
        font-size: 1.4rem;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }

        &--primary {
          border: 1px solid $primary;
          background: $primary;
          color: $white;

          & a {
            color: $white;
          }

          &:hover,
          &:focus {
            border: 1px solid $success;
            background: $success;
            transition: all 0.3s ease-in-out;
          }
        }

        &--outline {
          border: 1px solid $warning;
          background: $dark-light;
          color: $warning;

          &:hover,
          &:focus {
            border: 1px solid $warning;
            background: $warning;
            color: $black;

            & a {
              color: $black;
            }
          }

          & a {
            color: $warning;
          }
        }

        &--danger {
          background: $danger;
          color: $white;
        }
      }
    }
  }
}
