.cart {
  padding: 2rem;
  margin: auto;
  background: $dark-light;

  @include respond(phone) {
    padding: 2em;
    max-width: 98%;
  }


  & .image-container {
    vertical-align: middle;
    border-style: none;
    height: 10rem;
    min-width: 10rem;
    position: relative;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: $dark none repeat scroll 0 0;
  border-radius: 0;
  border-style: solid;
  text-align: center;
  margin-bottom: 0;
  border: 2px solid $dark;

  @include respond(phone) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

  };


  & thead {
    border-bottom: 1px solid $dark;
    background: $dark-light none repeat scroll 0 0;
    & > tr {
      padding: 2em;
    }
  }

  & th {
    border-top: medium none;
    font-size: 15px;
    text-transform: capitalize;
    padding: 20px 10px;
    text-align: center;
    font-weight: 500;
    vertical-align: middle;
    white-space: nowrap;
    color: $warning;

    @include respond(phone) {
      padding: 20px 10px !important;
    }
  }

  & th,
  & td {
    text-align: center;
    padding: 1.6rem;
    border-bottom: 1px solid $dark-light;
    border-right: 1px solid  $dark-light;

    @include respond(phone) {
      padding: 0.2rem;
    }
  }

  & th:first-child,
  & td:first-child {
    text-align: left;
  }

  & td {
    border-top: medium none;
    padding: 20px 10px;
    min-width: 2.5rem;
    vertical-align: middle;
    font-size: 13px;


    @include respond(phone) {
      padding-bottom: 3rem;
    }
  }

  & td:last-child {
    min-width: 20.2rem;
    @include respond(phone) {
      span {
        margin-bottom: 1rem;
      }
      & .badge {
        margin-right: 0;
        padding: 0.4rem 1.2rem;
        text-align: right;
      }
    }
  }
}

.order-sec {
  width: 98%;
  margin: 2rem auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(phone) {
    margin: 2em 1em;
  }

  & h4 {
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;

    & span {
      color: $warning;
    }
  }
}
